table{
    background-color: rgb(139, 224, 139);
    border-width: 2px;
    border-color: black;
    margin: auto;
    display:  block;
}
#tieude{
 
    align-items: center;
    
}

#form {
    display: flex !important;
    justify-content: center;
    
}